{% extends 'base.html' %}
{% load account socialaccount %}
{% block title %}Password Reset{% endblock %}

{% block header %}
<div class="collections">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10">
        <h1 class="title">Password Reset</h1>
        <p class="total-bots">{% if user.is_authenticated %}{% include "account/snippets/already_logged_in.html" %}{% endif %}<br>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}