{% extends 'base.html' %}
{% load account socialaccount %}
{% block title %}Change Password{% endblock %}

{% block main_text %}Change Password{% endblock %}

{% block sub_text %}Security matters. Changing your password every once in a while won't hurt.{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="panel row form-panel">
      <ul>
      {% for message in message %}
      <li>{{ message }}</li>
      {% endfor %}
      </ul>
      <div class="col-xs-12 col-md-6">
        <ul class="error-text">
          {{ form.non_field_errors }}
        </ul>

        <form method="POST" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_oldpassword">Current password</label>
            <small class="error-text">{{ form.oldpassword.errors }}</small>
            <input type="password" name="oldpassword" class="form-control" id="id_oldpassword" placeholder="Your current password" required="">
          </div>
          <div class="form-group">
            <label for="id_password1">New password</label>
            <small class="error-text">{{ form.password1.errors }}</small>
            <input type="password" name="password1" class="form-control" id="id_password1" placeholder="Your new password" required="">
          </div>
          <div class="form-group">
            <label for="id_password2">New password (again)</label>
            <small class="error-text">{{ form.password2.errors }}</small>
            <input type="password" name="password2" class="form-control" id="id_password2" placeholder="Your new password (again)" required="">
          </div>
          <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
