{% extends 'base.html' %}
{% load account socialaccount %}
{% block title %}Set Password{% endblock %}

{% block main_text %}Set Password{% endblock %}

{% block sub_text %}Looks like you have only been signing in through a social account and have not set a password yet{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="panel row form-panel">
      <div class="col-xs-12 col-md-6">
        <ul class="error-text">
          {{ form.non_field_errors }}
        </ul>

        <form method="POST" action="{% url 'account_set_password' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_password1">Password</label>
            <small class="error-text">{{ form.password1.errors }}</small>
            <input type="password" name="password1" class="form-control" id="id_password1" placeholder="Your password">
          </div>
          <div class="form-group">
            <label for="id_password2">Password (again)</label>
            <small class="error-text">{{ form.password2.errors }}</small>
            <input type="password" name="password2" class="form-control" id="id_password2" placeholder="Your password (again)">
          </div>
          <button type="submit" class="btn btn-primary">Set Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
