.form-panel {
  padding: 50px 50px;
  font-family: $Montserrat-Regular;
}

.btn-social {
  margin-top: 15px;
  width: 200px;
  color: $white;
}

.btn-fb {
  @extend .btn-social;
  background-color: $facebook-blue;
}

.btn-google {
  @extend .btn-social;
  background-color: $googleplus-red;
}