/* Header of Bot Details*/

.bot-description {
	font-family: $Montserrat-Regular;
	font-size:14px;
	line-height: 1.71;
	letter-spacing: .1px;
	color: $cool-grey; 
}

.bot-detail-content {
	margin-bottom: 40px;
	max-height: 1320px;
}

.header-divider {
	border-top: solid 1px $pale-grey-four;
	padding-top: 15px;
	margin-left: 75px;
}

.sign {
	span {
		color: $deep-sky-blue;
	}
}

/* Content */
.text-question {
	/* Text Design*/
	font-family: $Montserrat-SemiBold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: .2px;
	color: $battleship-grey;
	/* Text Position */
	margin-top: 64px;
	margin-bottom: 20px;
}

.knowledge-container {
	border: 1px solid $pale-grey-two;
	border-radius: 2px;
	box-shadow: 0px 1px 7.8px 0.2px rgba(0, 0, 0, 0.04);
	margin-top:5px;
	min-height: 250px;
}


.question-icon {
	font-family: $Montserrat-SemiBold;
	font-size: 24.1px;
	line-height: 1.33;
	color: $aqua-marine-two;
	border-right: solid 1px $pale-grey-two;
	/* icon position */
	padding-right: 10px;
}

.question {
	font-family: $Montserrat-SemiBold;
	font-size: 18px;
	color: $battleship-grey;
}

.answer-word {
	font-family: $Montserrat-Regular;
	font-size: 14px;
	line-height: 1.71;
	color: $pale-grey-three;
	/* position */
	padding-top: 21px;
}

.answer {
	font-family: $OpenSans-Regular;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: .4px;
	color: $cool-grey;
	padding-top: 12px; 
	margin-left: 37px;
}

.bot-details-footer {
	min-height: 358px;
	border-top: solid 1px $pale-grey;
	width: 100%
}

.knowledge-header {
	height: auto;
	border-bottom: solid 1px $pale-grey;
}

.Add-Queries {
	font-family: $Montserrat-SemiBold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: .2px;
	color: $battleship-grey;
	padding-top: 10px;
}

.query-label {
	font-family: $Montserrat-SemiBold;
	font-size:14px;
	line-height: 1.71;
	color: $battleship-grey;
	margin-top: 15px;

}

input[type=text] {
	margin-top: 20px;
	border-bottom: solid 1px $pale-grey;  
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%
}

.save-query {
		/* Text Content */
	font-family: $Montserrat-Regular;
	font-size: 16px;
	line-height: 2.25;
	letter-spacing: .2px;
	color: $white;
	/* Button Design */ 
	background-color: $deep-sky-blue;
	border: none;
	border-radius: 4px;
	padding: 5px 50px;
	/* Button Position */
	float: right;
	margin-top: 50px;
}

.edit-link {
	color: $cool-grey;
	font-family: $Montserrat-Regular;
	font-size: 12px;
	padding-left: 10px;
}


.symbols {
	color: $deep-sky-blue;
	padding:5px;
}