.chat-input {
 padding-top: 25px;
}

.chat-name {
 font-family: Montserrat-Bold;
}

.chat-messages {
 height: 300px;
 overflow-y: auto;
}

.user {
	color: $deep-sky-blue;
}

.collection-custom{
	background-color: $white;
	height:300px;
	.collection-align-center{
		margin: auto;
		text-align:center;
	}
}

.chat-bot-img{
	max-width: 100%;
	max-height: auto;
	width: 100px;
	height: 100px;
	/* Position */
	margin-top: 20px;
}

.text-content {
	margin: auto;
	text-align: center;
}

