/* Custom Content Bot Details | Add Bot */
.content-margin {
  padding-top: 70px;
  background-color: $pale-grey;
}


/* Custom Pagination Bot Details | Dash Board */
.pagination-style {
	li {
		a{
			background-color: transparent;
			border: none;
		}
	}
}


/* Custom Header for Chat | Bot Details */
.collections {
	padding-bottom:25px;
	background-color: $white;
}