//Colors
$white: #fff;
$battleship-grey: #636c80;
$silver-three: #bcbec4;
$cool-grey: #94989f;
$silver-four: #dedee2;
$aqua-marine-two: #3cf0a6;
$dodger-blue: #4b83fc;
$deep-sky-blue: #0984ff;
$red-pink-two: #f53458;
$pale-grey:#efeff7;
$pale-grey-two: #e4e4ea;
$pale-grey-three: #d7dbe6; 
$pale-grey-four: #f3f4f5;
$pale-grey-five: #dfdfe5;
$pale-grey-six: #e4e4eb;
$facebook-blue: #3b5998;
$googleplus-red: #d34836;
	
//Montserrat
$Montserrat-Bold: 'Montserrat-Bold';
$Montserrat-Light: 'Montserrat-Light';
$Montserrat-LightItalic: 'Montserrat-LightItalic';
$Montserrat-Medium: 'Montserrat-Medium';
	$Montserrat-Regular: 'Montserrat-Regular';
$Montserrat-SemiBold: 'Montserrat-SemiBold';

//Open-Sans
$OpenSans-Bold: 'OpenSans-Bold';
$OpenSans-BoldItalic: 'OpenSans-BoldItalic';
$OpenSans-ExtraBold: 'OpenSans-ExtraBold';
$OpenSans-ExtraBoldItalic: 'OpenSans-ExtraBoldItalic';
$OpenSans-Italic: 'OpenSans-Italic';
$OpenSans-Light: 'OpenSans-Light';
$OpenSans-LightItalic: 'OpenSans-LightItalic';
$OpenSans-Regular: 'OpenSans-Regular';
$OpenSans-Semibold: 'OpenSans-Semibold';
$OpenSans-SemiboldItalic: 'OpenSans-SemiboldItalic';