{% extends '../base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<div class="collections">
  <div class="container">
    <div class="row">
      <br>
      {% for message in messages %}
      <div class="montserrat alert alert-success" role="alert">{{ message }}</div>
      {% endfor %}

      <div class="col-xs-12 col-md-10">
        <div class="col-md-offset-1">
          <h1 class="title">Collections</h1>
          <p class="total-bots">{{ total_bots }} total bots</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <a href="{% url 'addbot' %}" class="btn btn-primary new_bot-btn ">New Bot</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10">
        <div class="col-md-offset-1">
          <h5 class="information-header">Summary</h5><br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="header-separator">
          <div class="row ">
            <div class="col-xs-12 col-md-3 ">
              <div class="col-xs-6 col-md-6">
                <img src="{% static 'images/bots/bot.png' %}" srcset="{% static 'images/bots/bot@2x.png' %} 2x, {% static 'images/bots/bot@3x.png' %} 3x" class="summary-img">
              </div>
              <div class="col-xs-6">
                <span class="summary-number">{{ total_bots }}</span>
                <div class="summary-label">Total Bots</div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3 col-md-offset-1">
              <div class="col-xs-6 col-md-6">
                <img src="{% static 'images/bots/active-bot.png' %}" srcset="{% static 'images/bots/active-bot@2x.png' %} 2x, {% static 'images/bots/active-bot@3x.png' %} 3x" class="summary-img">
              </div>
              <div class="col-xs-6">  
                <span class="summary-number">{{ active_bots }}</span>
                <div class="summary-label">Active Bots</div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3 col-md-offset-1">
              <div class="col-xs-6 col-md-6">
                <img src="{% static 'images/bots/language.png' %}" srcset="{% static 'images/bots/language@2x.png' %} 2x, {% static 'images/bots/language@3x.png' %} 3x" class="summary-img">
              </div>
              <div class="col-xs-6">
                <span class="summary-number">6</span>
                <div class="summary-label">Languages</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <nav class="navbar">
     <ul class="nav navbar-nav right-nav ">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle filters-custom " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if created == "week" %}Last Week{% elif created == "month" %}Last Month{% else %}All Time{% endif %} &nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/?status={{ status }}&created=week">Last Week</a></li>
          <li><a href="/?status={{ status }}&created=month">Last Month</a></li>
          <li><a href="/?status={{ status }}">All Time</a></li>
        </ul>
      </li>
      <li><a href="{% if status == 'active' %}/?created={{ created }}{% else %}/?status=active&created={{ created }}{% endif %}" class="filters-custom {% if status == 'active' %}selected-status{% endif %}"><div class="active-circle"></div> &nbsp;Active</a></li>
      <li><a href="{% if status == 'inactive' %}/?created={{ created }}{% else %}/?status=inactive&created={{ created }}{% endif %}" class="filters-custom {% if status == 'inactive' %}selected-status{% endif %}"><div class="inactive-circle "></div> &nbsp;Inactive</a></li>
    </ul>
    
    {% if is_paginated %}
    <ul class="pagination-style pagination nav navbar-nav navbar-right ">
      {% if page_obj.has_previous %}
      <li><a href="/?page=1&status={{ status }}&created={{ created }}" class="font-color">First</a></li>
      <li><a href="/?page={{ page_obj.previous_page_number }}&status={{ status }}&created={{ created }}">{{ page_obj.previous_page_number }}</a></li>
      {% endif %}
      <li class="active"><a>{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
      <li><a href="/?page={{ page_obj.next_page_number }}&status={{ status }}&created={{ created }}">{{ page_obj.next_page_number }}</a></li>
      <li><a href="/?page={{ paginator.num_pages }}&status={{ status }}&created={{ created }}">Last</a></li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
</div>

<div class="container">
  <div class="row">
    {% for bot in bots %}
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-body bot-card">
        <div>
          <a href="{% url 'chat' bot.id %}" class="bot-name">{{ bot.name }}</a> 
          <div class="status-option-container">            
            <div class="btn status-btn {% if bot.is_active %}btn-success">Active{% else %}btn-danger">Inactive{% endif %}</div> 
          </div>
        </div>
        <div class="panel-body bot-desc">
          <p>{{ bot.description|truncatechars:200 }}</p>
          <span class="date-created-footer">Date Created</span>
          <div><strong>{{ bot.created|date:"m/d/Y" }}</strong></div>
        </div>   
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

  {% block js %}
  <script>
    $(function() {
      $('#toggle-two').bootstrapToggle({
        on: 'active',
        off: 'inactive'
      });
    })
  </script>

  <script>
    function archiveBot(bot_id){
      var archivebotUrl = '/api/bots/' + bot_id + '/'
      if (confirm('Are you sure you want to archive this bot?')){
        $.ajax({
          type: 'DELETE',
          url: archivebotUrl,
          contentType: 'application/json',
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          },
          success : function(json) {
            alert('Bot was successfully Archived!');
            window.location = '/';
          },
          error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": ");
          }
        });
      }
    }
  </script>
  
  {% endblock %}